<!doctype html>
<html lang="en">
  <head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
     <title>sports Mangement</title>
     <link rel="stylesheet" href="401.css">
     <link rel="icon" href="Aicon.jpg" type="image/x-icon">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <body class="body1">
        <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="material-icons"
                        style="font-size: 30px;
                        line-height: 80px;">menu</i>
                </label>
                <label class="logo">SPORTS INFO</label>
                <ul>
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="about.html" target="_blank">About</a></li>
                    <li><a href="facilities.html" target="_black">facilities</a></li>
                    <li><a href="contact.html" target="_blank">Contact us</a></li>
                    <li><a href="#">Admin Log Out</a></li>
                </ul>
            </nav>
            <br>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
             <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://parade.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTkwNTgxMDA2ODgxNzkzMTQ5/sports-trivia-1-jpg.jpg" alt="SPORTS" height="400px" width="50px">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://greenwoodhigh.edu.in/wp-content/uploads/2021/03/sports-2-1.jpg" alt="Rooms" height="400" width="50px">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://pbs.twimg.com/media/EOKUgW7VAAECrfX.jpg:large" alt="Mess" height="400px" width="50px">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://people.com/thmb/xU9cU1MhiaDiuHkyzeyiSMiS3Vk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(749x0:751x2)/best-sports-pics-8-bfe01a51e0b845c6bf9adaee13d4208b.jpg" alt="hst coillider" height="400px" width="50px">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://media.gq.com/photos/59e76a0566e2d56abcd79e99/4:3/w_2664,h_1998,c_limit/GQ_50Greatest_final_v2.jpg" alt="sixth slide" height="400px" width="50px">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <br>
    <h2>Student Page</h2>
    <div class="text-container">
      <% if (textInfo.length > 0) { %>
        <ul>
          <% textInfo.forEach((info) => { %>
            <li><%= info.text %></li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>No text information available.</p>
      <% } %>
    </div>

   
  </body>
</html>
